useDynLib(PlagiatDetect, .registration=TRUE)
importFrom(Rcpp, evalCpp)
import(tidyverse)
import(rvest)
import(corpus)
import(rvest)
import(tokenizers)
import(stringr)
exportPattern("^[[:alpha:]]+")
